.lmj-categories {

	margin-left: 50px;
	/* margin-top: 10px; */
	padding-top: 30px;
	/* align-self: self-start; */
	/* cursor: pointer; */
	/* font-weight: 500; */
	/* color: white; */
	/* padding: 5px 10px; */
	/* background-color: #31b572; */
}


.lmj-categories2 {
	text-align: center;
	padding-top: 30px;
}

.lmj-categories-select {
	margin-right: 15px;
}